@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("../assert/SEGA.woff") format("woff");
}

h1 {
  color: rgb(0 121 247 / 90%);
  font-family: "SEGA LOGO FONT";
}
